{% include "recruitment-head.html" ignore missing %}

<div class="alert alert-danger" role="alert">
  <strong>Uh-oh</strong> something went wrong!
</div>
<div class="list-group">
  <div class="list-group-item">
    <h4 class="list-group-item-heading">Did you enter the API key and Verification Code correctly?</h4>
    <p class="list-group-item-text">If you aren't sure, try <a
        href="https://community.eveonline.com/support/api-key/CreatePredefined?accessMask=1073741832">creating a new
      one!</a></p>
  </div>
  <div class="list-group-item">
    <h4 class="list-group-item-heading">Is your Eve account subscription active?</h4>
    <p class="list-group-item-text">This service requires that the Eve account for the supplied API key is active.
      Time to go buy some PLEX!</p>
  </div>
</div>
<p> None of the above? Contact <a href="https://gate.eveonline.com/Profile/dakodai">Dakodai</a> ingame to figure out
  what's wrong!</p>

{% include "foot.html" ignore missing %}
