<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>WiNGSPAN Delivery Network - Recruitment</title>
	<!-- Bootstrap -->
	<link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static',filename='css/bootstrap-theme.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/wds-custom.css') }}" rel="stylesheet">

	<script src="{{ url_for('static',filename='js/jquery-1.12.2.min.js') }}"></script>
	<script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
  </head>
<body>
<div class="container" role="main">

  <div class="cold-md-12 jumbotron">
  	<h2><strong>WiNGSPAN Delivery Network</strong></h2>
  </div>
  <div class="alert alert-success" role="alert">
       	<strong>Great!</strong> You have successfully applied to WiNGSPAN Delivery Services!<br>
  </div>

  <div class="container">
  <h4>You meet our criteria for:</h4>
	{% if sb %}
	<br>Stealth Bombers
	{% endif %}
	{% if astero %}
	<br>Astero
	{% endif %}
	{% if strat %}
	<br>Stratios
	{% endif %}
	{% if recon %}
	<br>Recons
	{% endif %}
	{% if blops %}
	<br>Black Ops Battleships
	{% endif %}
	{% if t3 %}
	<br>T3 Strageic Cruisers
	{% endif %}
  </div>
  <br>
  <div class="container">
  <h4>So what now?</h4>
  A recruiter will be in touch with you directly.  To ensure that you are easily contactable please be in the <strong>'WDS Induction'</strong> ingame channel.
  </div>

</div>
</body>
</html>
