{% include "recruitment-head.html" ignore missing %}

<div class="alert alert-danger" role="alert">
  <strong>We're sorry {{ pilotName }}</strong>, But you already have an open application. Please make sure you are in
  the <strong>'WDS Induction'</strong> channel in-game. A recruiter will be with you when they are available.
  <br><br>
  <p>If you believe this is in error contact <a href="https://gate.eveonline.com/Profile/dakodai">Dakodai</a> ingame to
    figure out what's wrong!</p>
</div>

{% include "foot.html" ignore missing %}
