{% include "recruitment-head.html" ignore missing %}

<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a>Please select the pilot you wish to join WiNGSPAN with:</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse">
      <div class="panel-body">
        <form action="/recruitment-old/" method=post>
          <div class="form-group">
            <input type="text" length=7 class="form-control hidden" id="inputKeyId1" name="key" placeholder="KeyID"
                   value="{{ keyid }}">
            <input type="text" length=64 class="form-control hidden" id="inputVCode1" name="vcode" placeholder="VCode"
                   value="{{ vcode }}">
            <textarea class="form-control hidden" rows="5" id="inputBlob1" name="blob">{{ blob }}</textarea>
          </div>
          <div class="row">
            {% for pilot, id in player_pilots.items() %}
              <button type="submit" class="col-md-4 btn btn-default" style="margin: 5px;" name="name" value="{{ id }}">
                <img src="https://image.eveonline.com/Character/{{ id }}_256.jpg"><br>{{ pilot }}
              </button>
            {% endfor %}
          </div>
        </form>
      </div>
      <div class="panel-footer"></div>
    </div>
  </div>
</div>

{% include "foot.html" ignore missing %}
