<div>
  <h4> We require that you meet the following minimum skills:</h4>
  <pre>
{% for skill, level in base_prereq.items() %} {{ skill }}: {{ level }}
{% endfor %}
</pre>
  <br>
  <h4>You must also meet <strong>AT LEAST ONE</strong> of the following:</h4>

  <div class="panel-group">


    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse-sr1">Stealth Bombers</a>
        </h4>
      </div>
      <div id="collapse-sr1" class="panel-collapse collapse">
        <div class="panel-body">
<pre>
{% for skill, level in sb_prereq.items() %} {{ skill }}: {{ level }}
{% endfor %}
</pre>
        </div>
        <div class="panel-footer"></div>
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse-sr2">Astero</a>
        </h4>
      </div>
      <div id="collapse-sr2" class="panel-collapse collapse">
        <div class="panel-body">
<pre>
{% for skill, level in ast_prereq.items() %} {{ skill }}: {{ level }}
{% endfor %}
</pre>
        </div>
        <div class="panel-footer"></div>
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse-sr3">Stratios</a>
        </h4>
      </div>
      <div id="collapse-sr3" class="panel-collapse collapse">
        <div class="panel-body">
<pre>
{% for skill, level in strat_prereq.items() %} {{ skill }}: {{ level }}
{% endfor %}
</pre>
        </div>
        <div class="panel-footer"></div>
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse-sr4">Recons</a>
        </h4>
      </div>
      <div id="collapse-sr4" class="panel-collapse collapse">
        <div class="panel-body">
<pre>
{% for skill, level in recon_prereq.items() %} {{ skill }}: {{ level }}
{% endfor %}
</pre>
        </div>
        <div class="panel-footer"></div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse-sr5">Strategic Cruisers</a>
        </h4>
      </div>
      <div id="collapse-sr5" class="panel-collapse collapse">
        <div class="panel-body">
<pre>Racial Strategic Cruiser 4
Racial Electronic Systems 4
Racial Offensive Systems 4
Racial Propulsion Systems 4
Racial Defensive Systems 4
</pre>
        </div>
        <div class="panel-footer"></div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse-sr6">Black Ops Battleships</a>
        </h4>
      </div>
      <div id="collapse-sr6" class="panel-collapse collapse">
        <div class="panel-body">
<pre>
{% for skill, level in blops_prereq.items() %} {{ skill }}: {{ level }}
{% endfor %}
</pre>
        </div>
        <div class="panel-footer"></div>
      </div>
    </div>
  </div>
</div>
