<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>WiNGSPAN Delivery Network - IT Services</title>
	<!-- Bootstrap -->
	<link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static',filename='css/bootstrap-theme.min.css') }}" rel="stylesheet">

	<script src="{{ url_for('static',filename='js/jquery-1.12.2.min.js') }}"></script>
	<script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
  </head>
<body>
<div class="container" role="main">

  <div class="cold-md-12 jumbotron">
  	<h2><strong>WiNGSPAN Delivery Network</strong></h2>
  </div>
  <div class="alert alert-danger" role="alert">
       	<strong>We're sorry {{ pilotName }}</strong>, But you don't meet our pre-requirements.
  </div>

   <h4>	We require that you meet the following minimum skills:</h4>
<pre>
Astrometrics 4
Astrometric Acquisition 2
Astrometric Pinpointing 2
Astrometric Rangefinding 2
Cloaking 4
Warp Drive Operation 3
Signature Analysis 3
</pre>
<br>
	<h4>You must also meet <strong>AT LEAST ONE</strong> of the following:</h4>

	<div class="panel-group">


	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" href="#collapse1">Stealth Bombers</a>
	      </h4>
	    </div>
	    <div id="collapse1" class="panel-collapse collapse">
      	     <div class="panel-body">
<pre>Torpedoes 4
Missile Launcher Operation 5
Guided Missile Precision 2
Weapon Upgrades 4
Target Navigation Prediction 2
Covert Ops 4
Missile Bombardment 4</pre>	
	     </div>
             <div class="panel-footer"></div>
	   </div>
	 </div>


	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" href="#collapse2">Astero</a>
	      </h4>
	    </div>
	    <div id="collapse2" class="panel-collapse collapse">
      	     <div class="panel-body">
<pre>Amarr Frigate 4
Gallente Frigate 4
Light Drone Operation 4
Drones 5
Drone Interfacing 4
Propulsion Jamming 4
Astrometric Acquisition 4
Astrometric Pinpointing 4
Astrometric Rangefinding 4</pre>	
	     </div>
             <div class="panel-footer"></div>
	   </div>
	</div>


	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" href="#collapse3">Stratios</a>
	      </h4>
	    </div>
	    <div id="collapse3" class="panel-collapse collapse">
      	     <div class="panel-body">
<pre>Amarr Cruiser 4
Gallente Cruiser 4
Hull Upgrades 4
Mechanics 5
Capacitor Emission Systems 4
Light Drone Operation 4
Medium Drone Operation 4
Heavy Drone Operation 4
Drones 5
Drone Interfacing 4
Drone Sharpshooting 4
</pre>	
	     </div>
             <div class="panel-footer"></div>
	  </div>
	</div>



	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" href="#collapse4">Recons</a>
	      </h4>
	    </div>
	    <div id="collapse4" class="panel-collapse collapse">
      	     <div class="panel-body">
<pre>Recon Ships 4
Power Grid Management 5
Navigation 5
Propulsion Jamming 4 
</pre>	
	     </div>
             <div class="panel-footer"></div>
	  </div>
	</div>

	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" href="#collapse5">Strategic Cruisers</a>
	      </h4>
	    </div>
	    <div id="collapse5" class="panel-collapse collapse">
      	     <div class="panel-body">
<pre>Racial Strategic Cruiser 3
Racial Electronic Systems 4
Racial Offensive Systems 4
Racial Propulsion Systems 4
Racial Defensive Systems 4
</pre>	
	     </div>
             <div class="panel-footer"></div>
	  </div>
	</div>

	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" href="#collapse6">Black Ops Battleships</a>
	      </h4>
	    </div>
	    <div id="collapse6" class="panel-collapse collapse">
      	     <div class="panel-body">
<pre>Black Ops 4
Jump Fuel Conservation 4
Propulsion Jamming 3
</pre>	
	     </div>
             <div class="panel-footer"></div>
	  </div>
	</div>

	</div>

  <p> Still unsure?  Contact <a href="https://gate.eveonline.com/Profile/dakodai">Dakodai</a> ingame to figure out what's wrong!</p>

</div>
</body>
</html>
