{% include "recruitment-head.html" ignore missing %}
<div class="alert alert-success" role="alert">
  <strong>Great!</strong> You have successfully applied to WiNGSPAN Delivery Services!<br>
</div>

<div class="container">
  <h4>You meet our criteria for:</h4>
  {% if sb %}
    <br>Stealth Bombers
  {% endif %}
  {% if astero %}
    <br>Astero
  {% endif %}
  {% if strat %}
    <br>Stratios
  {% endif %}
  {% if recon %}
    <br>Recons
  {% endif %}
  {% if blops %}
    <br>Black Ops Battleships
  {% endif %}
  {% if t3 %}
    <br>T3 Strategic Cruisers
  {% endif %}
</div>
<br>
<div class="alert alert-wds" role="alert">
  <h4>So what now?</h4>
  <p>To ensure that you are easily contactable please be in the <strong>'WDS Induction'</strong> ingame channel.  You must be in this channel to see a recruiter for an induction.</p>
</div>

{% include "foot.html" ignore missing %}
