{% include "recruitment-head.html" ignore missing %}

{% include "recruitment-skillreqs.html" ignore missing %}

{% if not recruitment_open %}
<div class="panel-group">

  <div class="panel panel-default">
   <div class="panel-heading">
     <h4 class="panel-title">
       <a>Recruitment is closed</a>
     </h4>
   </div>
   <div class="panel-body">
   Recruitment is currently closed.  Please check back later, or keep an eye on the MOTD in the #wing-ds public channel in game
   </div>
   <div class="panel-footer">
   </div>
 </div>
</div>

{% else %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a>I would like to join WiNGSPAN!</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse">
      <div class="panel-body">
        {% if show_crest %}
          <a href="{{ crest_url }}"><img src="{{ url_for('static',filename='images/sso_white.png') }}"
                                         alt="Click here to log in"></a>
        {% else %}
          {% if crest_auth %}
            <form action="/crest/" method=post>
              <div class="form-group">
          {% else %}
            <form action="/recruitment/" method=post>
              <div class="form-group">
                <label for="inputKeyId1">Key ID</label>
                <input type="text" length=7 class="form-control" id="inputKeyId1" name="key" placeholder="KeyID">
                <label for="inputVcode1">Verification Code</label>
                <input type="text" length=64 class="form-control" id="inputVCode1" name="vcode" placeholder="VCode">
                <p class="help-block"><a
                    href="https://community.eveonline.com/support/api-key/CreatePredefined?accessMask=1073741832"
                    target="_blank">Not sure? Create a new API key!</a></p>
          {% endif %}
        <label for="inputBlob1">Tell Us About Yourself</label>
        <textarea class="form-control" rows="3" id="inputBlob1" name="blob"></textarea>
        <input type="text" length=64 class="form-control hidden" id="inputName1" name="name" value="{{ name }}">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
        </form>
        {% endif %}
        </div>
        <div class="panel-footer"></div>
      </div>
    </div>
  </div>
{% endif %}

{% include "foot.html" ignore missing %}
