<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>WiNGSPAN Delivery Network - IT Services</title>
	<!-- Bootstrap -->
	<link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static',filename='css/bootstrap-theme.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/wds-custom.css') }}" rel="stylesheet">

	<script src="{{ url_for('static',filename='js/jquery-1.12.2.min.js') }}"></script>
	<script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
  </head>
<body>
<div class="container" role="main">

  <div class="cold-md-12 jumbotron">
  	<h2><strong>WiNGSPAN Delivery Network</strong></h2>
  </div>
  <div class="alert alert-danger" role="alert">
       	<strong>Uh-oh</strong> something went wrong!
  </div>
<div class="list-group">
            <div class="list-group-item">
              <h4 class="list-group-item-heading">Did you enter the right email address?</h4>
              <p class="list-group-item-text">If you already have a WiNGSPAN Slack account, or have previously provided your API key the email address you supply here must be the same as previously provided.</p>
            </div>
            <div class="list-group-item">
              <h4 class="list-group-item-heading">Did you apply for a new Slack account, when you already have one?</h4>
              <p class="list-group-item-text">If you already have a WiNGSPAN Slack account, please make sure you chose the "I'm a returning agent" option</p>
            </div>
            <div class="list-group-item">
              <h4 class="list-group-item-heading">Did you enter the API key and Verification Code correctly?</h4>
              <p class="list-group-item-text">If you aren't sure, try <a href="https://community.eveonline.com/support/api-key/CreatePredefined?accessMask=33554432">creating a new one!</a> Don't forget to check the "No Expiry" checkbox.</p>
            </div>
            <div class="list-group-item">
              <h4 class="list-group-item-heading">Do you have a character in a WiNGSPAN Delivery Network corporation?</h4>
              <p class="list-group-item-text">This service is only accessible to the WiNGSPAN Delivery Network and it's members.  Not a member? Check us out <a href="http://torpedodelivery.com/careers">here</a></p>
            </div>
            <div class="list-group-item">
              <h4 class="list-group-item-heading">Is your Eve account subscription active?</h4>
              <p class="list-group-item-text">This service requires that the Eve account for the supplied API key is active.  Time to go buy some PLEX!</p>
            </div>
          </div>
  <p> None of the above? Contact <a href="https://gate.eveonline.com/Profile/dakodai">Dakodai</a> ingame to figure out what's wrong!</p>

  <div>

</div>
</body>
</html>
