<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>WiNGSPAN Delivery Network - IT Services</title>
	<!-- Bootstrap -->
	<link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static',filename='css/bootstrap-theme.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/wds-custom.css') }}" rel="stylesheet">

	<script src="{{ url_for('static',filename='js/jquery-1.12.2.min.js') }}"></script>
	<script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
  </head>
<body>
<div class="container" role="main">

  <div class="cold-md-12 jumbotron">
  	<h2><strong>WiNGSPAN Delivery Network</strong></h2>
  </div>
  <div class="alert alert-success" role="alert">
       	<strong>Awesome!</strong> Your details have been successfully submitted.  Thanks!.  You will receive an email shortly to the email address you registered with an invite to Slack.
  </div>
  <div class="alert alert-success" role="alert">
	We use Discord for our voice comms!  To get on comms <a href="https://discordapp.com/register">signup for a Discord account</a> with the same email address you registered for here. And then <a href="https://discord.gg/{{ token }}">Join our server</a>.  Once joined, PM authbot to get roles!
  </div>

</div>
</body>
</html>
