{% include "services-head.html" ignore missing %}

<div class="alert alert-success" role="alert">
  <strong>Awesome!</strong> Your details have been successfully submitted. Thanks!. You will receive an email shortly to
  the email address you registered with an invite to Slack.
</div>
<div class="alert alert-success" role="alert">
  We use Discord for our voice comms! To get on comms <a href="https://discordapp.com/register">signup for a Discord
  account</a> with the same email address you registered for here. And then <a href="https://discord.gg/{{ token }}">Join
  our server</a>. Once joined, PM authbot to get roles!
</div>

{% include "foot.html" ignore missing %}
