{% include "services-head.html" ignore missing %}

<div class="alert alert-danger" role="alert">
  <strong>Uh-oh</strong> something went wrong!
  {% if error %}
     {% if error == 'email' %}
     <p> We couldn't verify your Discord email address, please make sure you are logged into Discord
     in this browser.  You can check this by going to <a href="http://discordapp.com/@channels/me">Discord</a>
     and clicking the cog in the bottom left and then selecting the "account" menu.</p>
     {% endif %}
     {% if error == 'corp' %}
     <p> We couldn't verify that you are a member of Wingspan Delivery Services.  Please ensure that your API key
     is correct.  If you are a new member to the corp, please bear in mind that the EVE API can be slow to update
     (up to an hour), please try again shortly</p>
     {% endif %}
  {% endif %}
</div>
<div class="list-group">
  <div class="list-group-item">
    <h4 class="list-group-item-heading">Have you provided your API key to <a
        href="https://services.torpedodelivery.com">Services</a>?</h4>
    <p class="list-group-item-text">You must have provided a valid email address, API key and verification code to
      Services before you can authenticate your Discord account</p>
  </div>
  <div class="list-group-item">
    <h4 class="list-group-item-heading">Is your Discord account email address the same as the address you provided to
      Services?</h4>
    <p class="list-group-item-text">To make sure that the Discord user is you, we require that the email address in
      use by your Discord account is the same as the one you provided to Services (and use on Slack). This email
      account must also be 'verified' by Discord (i.e. by clicking the verification link that they send you by
      email)</p>
  </div>
  <div class="list-group-item">
    <h4 class="list-group-item-heading">Do you have a character in a WiNGSPAN Delivery Network corporation?</h4>
    <p class="list-group-item-text">This service is only accessible to the WiNGSPAN Delivery Network and it's members.
      Not a member? Check us out <a href="http://torpedodelivery.com/careers">here</a></p>
  </div>
  <div class="list-group-item">
    <h4 class="list-group-item-heading">Is your Eve account subscription active?</h4>
    <p class="list-group-item-text">This service requires that the Eve account for the supplied API key is active.
      Time to go buy some PLEX!</p>
  </div>
</div>
<p> None of the above? Contact <a href="https://gate.eveonline.com/Profile/dakodai">Dakodai</a> ingame to figure out
  what's wrong!</p>

{% include "foot.html" ignore missing %}
